@charset "utf-8";
@import "property";
@import "mixin";
body,html{
  width: 100%;
  height: 100%;
}
body{
  &.login{
    .frame{
      width: 100%;
      height: 100%;
      background-image: url("../images/login_bg.jpg");
      background-repeat: no-repeat;
      background-position: -100px 50%;
      background-size: auto 85%;
      .center{
        @include box-center;
      }
    }
  }
}
.loginbox{
  width: $login-box-width;
  height:$login-box-height;
  background-color: white;
  float: left;
  margin-top: 10%;
  margin-left: 7%;
  padding: 50px 30px;
  border-radius: 10px;
  background-image: url("../images/huaxin_logo.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 130px 62px;
  background-color: rgba(255,255,255,.7);
  h1{
    font-size: 20px;
    font-family: "微软雅黑";
    font-weight: bolder;
    color: #666;
    margin-bottom: 40px;
  }
}

a.regist_link{
  float: right;
  color: gray;
  text-decoration: none;
}
a.regist_link:hover{
  color: $bg-color-red;
}

.btn-success {
  color: #fff;
  background-color: $button-bg-color;
  border-color: #28a745;
}
